body {
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', 'Big Shoulders Display', Lucida;
}
h2 {
    text-transform: uppercase;
}
.container {
    width: 68.5%;
    margin: auto;
    /* border:3px outset orange; */
    height: 70%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0.5em;
}

.box {
    box-sizing: border-box;
    width: 33.3%;
    float: left;
    /* border: 6px ridge rgb(0, 2, 128); */
    border-collapse: collapse;
    height: 100%;
    padding: 2.5em 2.3em;
    /* overflow: auto; */
    
}
#box1 {
    background-color: rgb(227, 136, 38);
}

#box2 {
    background-color: rgb(0, 105, 112);
    /* display: none; */
}


#box3 {
    background-color: rgb(0, 66, 65);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.icon-small{
    display: block;
    width: 70px;
    height: 50px;
}

/* default below */
.attribution {
    /* visibility: hidden; */
    display: none;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    width: 25rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: rgba(141, 63, 204,50%);
    position: fixed;
    bottom: 0;
    right: 1em;
}

.attribution b:hover {
    text-shadow: 2px 2px rgb(96, 198, 206);
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
}

.icon-lg {
    display: inline-block;
    width:30px;
    height: 30px;
    border-radius: 50%;
    border : 10px double blue;
    padding: 5px;
    margin-bottom: 0.2rem;
    background-color: rgb(40, 3, 71);
}

main a {
    display: inline-block;
    width: 50%;
    text-decoration: none;
    color: inherit;
    border: 0.2em solid white;
    padding: 1em 2em;
    margin: left;
    border-radius: 25px;
    /* border-top-left-radius: 30%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%; */
    position: relative;
    left:0em;
    bottom: -4em;
    background-color: hsl(0, 0%, 95%);
}

a:hover {
    cursor:grabbing;
    /* background-color: green ; */
}

#box1 a{
    color:rgb(227, 136, 38);
}

#box2 a{
    color:rgb(0, 105, 112);
}

#box3 a{
    color: rgb(0, 66, 65);
}

#box1  a:hover{
    background-color: inherit;
    color:rgb(242, 242, 242);
}

#box2 a:hover{
    background-color: inherit;
    color:rgb(242, 242, 242);
}

#box3 a:hover{
    background-color: inherit;
    color: rgb(242, 242, 242);
}


@media only screen and (max-width:1100px){
    .container {
        width: 80%;
    }
    .box {
        padding: 1.4em 1.4em ;
    }
    /* main a{
        bottom:-1em;
    } */

}

@media only screen and (max-width:1000px){
    .container {
        width: 90%;
    }
}

@media only screen and (max-width:900px){
    .box {
        float: none;
        width: 100%;
        box-sizing: border-box;
        margin: auto;
        border-radius: 0.25em;
        /* margin-top: 0.2em; */
    }   
    .container {
        width: 50%;
        /* background-color: aliceblue; */
    }
    /* main a {
        top: 3em;
    } */
    

}

@media only screen and (max-width:500px){
    .box {
        /* padding: 1em 1em ; */
        max-height: max-content;
    }
    main a{
        padding: 0.5em 1em;
        width: 75%;
    }
    .container {
        width: 90%;
    }
}
@media only screen and (max-width:185px){
    main a{
        padding:0.05em;
        top:-1em;
        width: 100%;
    }
    .box {
        padding: 1em 0.3em ;
    }
    h2 {
        font-size: 1em;
    }
}
/*
@media only screen and (min-height:1000px){
    
}


@media only screen and (max-height:700px){
    a {
        bottom:-2em;
    }
    .box {
        height: 60vh;
    }
}
*/
@media only screen and (max-height:600px){
    .container {
        height: 22em;
    }
    main a{
        bottom:-1em;
    }
}
/*
@media only screen and (max-height:540px){
    main a{
        bottom:-1em;
    }
}
*/
/* @media only screen and (max-height:500px){
    body {
        overflow-y: scroll;
    }
}  */